div#app
  display: flex
  height: 100%

div.cardbox
  margin: auto
  direction: rtl

div.word
  padding: 5px
  display: inline
  font-size: 2em
  .i
    color: #ff0
    background: #dd0
  .s_wrong, .d
    color: #fcc
    background: #b00
  .s_ok
    color: #000
    background: #fff
  .trans
    font-family: monospace
    border: 1px solid #666
    padding: 5px
    color: #666
