div#app
  display: flex
  height: 100%

div.word
  margin: auto
  font-size: 2em
  direction: rtl
  .i
    color: #ff0
    background: #dd0
  .s_wrong, .d
    color: #fcc
    background: #b00
  .s_ok
    color: #000
    background: #fff
